body{
	margin:0;
	background-size: cover;
	background-repeat: no-repeat;
}

form{
	width: 40%;
	margin:50px auto;
	background-color: #130f40;
	color: white;
	padding:20px 20px;
	border-radius: 10px;
}
form img{
	width: 30%;
	margin-bottom: 20px;
}
.username label{
	font-size: 20px;
	font-weight: bold;
}
.username input{
	width: 80%;
	padding:10px 10px;
	border-radius: 8px;
}
form input[type="submit"]{
	background-color: #f0932b;
	padding:10px 50px;
	border-radius: 8px;
	border:none;
	cursor: pointer;
	margin-top: 30px;
	font-size: 15px;
	font-weight: bold;
	color: #ecf0f1;
}
form input[type="submit"]:hover{
	background-color: #ffbe76;
}
footer p{
	font-weight: bold;
	font-size: 20px;
	color: white;
}
footer h1{
	color: white;
}
@media (max-width: 650px) and (min-width: 300px){
	form{
		width: 80%;
	}
	.username label{
		font-size: 15px;
	}
	form input[type="submit"]{
		padding:5px 30px;
	}
}
